<h1>Listing gemsets</h1>

<table>
  <tr>
    <th>Proyecto</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gemsets.each do |gemset| %>
  <tr>
    <td><%= gemset.proyecto.nombre %></td>
    <td><%= gemset.nombre %></td>
    <td><%= link_to 'Show', gemset %></td>
    <td><%= link_to 'Edit', edit_gemset_path(gemset) %></td>
    <td><%= link_to 'Destroy', gemset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gemset', new_gemset_path %>
